<%- include('common/header') %>
<div class="container mt-4">
    <div class="row h-100 wrapper form-wrapper">
        <div class="col-sm-6 mx-auto mt-lg-5">
            <div class="card wow fade-in p-4" data-wow-delay="0.3s">
                <div class="card-body">
                    <form method="POST" action="/user/login" autocomplete="off">
                        <div class="form-outline mb-4">
                            <input type="text" id="form1Example1" class="form-control" name="username">
                            <label class="form-label" for="form1Example1">Gebruikersnaam</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="form1Example2" class="form-control" name="password">
                            <label class="form-label" for="form1Example2">Wachtwoord</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Inloggen</button>
                        <div>
                            <%= errors %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('common/footer') %>
