<%- include('common/header') %>
    <div class="container mt-lg-2">
        Reset van wifi wachtwoord is klaar.
        Het nieuwe wachtwoord: <strong><%=resetWifiPwd%></strong>
    </div>
<%- include('common/footer') %>
