</div>

<!-- Footer -->
<footer class="text-center footer" style="background-color:#f3f2ed;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #FEFAE0;">
        © <%= new Date().getFullYear() %> Copyright:
        <a class="text-info font-weight-bold" href="/">Tulip Air</a>
    </div>
    <%if (typeof pageInfo !=='undefined'){%>
    <button class="btn btn-info btn-floating position-fixed" style= "background-color:#BC6C25; right: 30px; bottom: 30px;" data-mdb-toggle="tooltip"
            title="<%=pageInfo%>">
        <span class="material-icons">help</span>

    </button>
    <%}%>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>

<!--libraries-->
<script type="text/javascript" src="../js/mdb.min.js"></script>
<script type="text/javascript" src="../swiper/swiper-bundle.min.js"></script>

<!--custom scripts-->
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/swiper.js"></script>
<script type="text/javascript" src="/js/shop.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/voucher.js"></script>

</html>
